*,
*::after,
*::before {
  box-sizing: border-box;
}
 body{
   background-color: #f7eddf;
} 
a{
  text-decoration: none;
  color: white;
}
header {
  font-weight: 500;
}
header h1 {
  font-size: 3.5rem;
  width: 300px;
  z-index: 1;
  font-family: "Pacifico", serif;
}
header h1::after {
  content: "";
  position: absolute;
  background-color: rgba(246, 166, 37, 0.4);
  width: 100%;
  height: 32px;
  bottom: 0;
  left: 0;
  transition: all .4s;
  z-index: 0;
}
header h1:hover::after {
  height: 47px;
  transition: all .4s;
}
.line{
  width: 95%;
  border-bottom: black dotted 3px;
  border-top: black dotted 3px;
}
header .line .one{
  color: #3FA55C;
}
header .line .two{
  color: #B1AB49;
}
.content{
  width: 95%;
}

.content .form-control:focus{
  border-color: yellow;
  box-shadow: 0 0 0 0.25rem #fec26055;
}
.content .btn{
  background-color: #BB4120;
}
table{
  width: 95%;
}
tr,th,td{
    padding: 15px;
}
tr{
  border-bottom: 2px solid gray;
}
table .btnOne{
  background-color: #8A9E23;
  &:hover{
    background-color:#D30820 ;
  }
}
table .btnTwo{
  background-color: #D30820;
    &:hover{
    background-color:#8A9E23 ;
  }
}
table .btnOne,.btnTwo{
  border: none;
  border-radius: 10px;
}

.popabWindow{
  background: rgba(0,0,0,.1);
}
.failed{
  width:33rem;
  border-radius: 10px;

}
.circles .firstSpan,.secondSpan,.thiredSpan{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.failed .close{
  right: 1.5rem;
  top: .5rem;

}